<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>todo app</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="/static/base.css">
    </head>
    <body>
        <h1>Todo App By Oreoluwa</h1>
        <form action = "/add" method = "post">
            <div>
                <label for="title"><u><b>Todo Title</u></b></label><br><br>
                <input type = "text" name = "title" placeholder = "Enter Todo"><br><br>
                <button type= "submit"> Add </button>
            </div>
        </form>
        <br><br>
        {% for todo in todo_list %}
        <div class = "m">
        <p class="b"> {{ todo.id }} | {{ todo.title }}</p>
        {% if todo.complete == False %}
        <span> Task Not Complete</span>
        {% else %}
        <span>Completed Task</span>
        {% endif %}
        <br>
        <a  href = "/update/{{todo.id}}"><button class = "blue">Update</button></a>
        <a  href = "/delete/{{todo.id}}"><button class = "red">Delete</button></a>
        </div><br>
        {% endfor %}
    </body>
</html>